.header_wrapper {
  background: #fff;
  height: 64px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  .side_nav_btn {
    cursor: pointer;
    margin: 10px;
    width: 35px;
    .right_menu_icon {
      font-size: 20px;
      margin-left: -5px;
    }
  }
}


