<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field color="accent" class="authorization_input">
    <input matInput
           required
           placeholder="Email"
           formControlName="email"
    >
    <mat-error *ngIf="form.get('email').invalid">
      {{getErrorEmailMessage()}}
    </mat-error>
  </mat-form-field>
  <div class="d-flex justify-content-between forgot_password_footer">
    <button type="button" class="accent_btn" [routerLink]="['/auth/login']" mat-button>BACK TO LOGIN</button>
    <button class="send_instruction accent_btn" mat-button>SEND ME INSTRUCTIONS</button>
  </div>
</form>
