<h1 mat-dialog-title>Create your own workspace</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field color="accent" class="workspace_description">
      <input matInput
             cdkFocusInitial
             placeholder="Workspace name"
             required
             formControlName="name">
      <mat-error *ngIf="form.get('name').invalid">
        {{getErrorNameMessage()}}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-between">
    <button class="system_action_btn" type="button" mat-button (click)="onNoClick()">Cancel</button>
    <button class="system_action_btn" mat-button cdkFocusInitial>Create</button>
  </div>
</form>
